<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="row mt-4">
        <h2>Daftar <strong>Makanan</strong></h2>
      </div>

      <div class="row">
        <div class="input-group mb-3">
          <input
          v-model="search"
            type="text"
            class="form-control"
            placeholder="Cari Makanan Kesukaan Anda ..."
            aria-label="Cari"
            aria-describedby="basic-addon1"
            @keyup="searchFood"
          />
          <span class="input-group-text" id="basic-addon1"><b-icon-search></b-icon-search></span>

        </div>
      </div>

      <div class="row mb-4">
        <div
          v-for="item in products"
          v-bind:key="item.id"
          class="col-md-4 mt-4"
        >
          <CardProduct
            v-bind:image="item.gambar"
            v-bind:title="item.nama"
            v-bind:price="item.harga"
            v-bind:id="item.id"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import CardProduct from "@/components/CardProduct.vue";
import axios from "axios";
export default {
  name: "Foods",
  components: {
    Navbar,
    CardProduct,
  },
  data() {
    return {
      products: [],
      search:''
    };
  },
  methods: {
    setProduct(data) {
      this.products = data;
    },
    searchFood(){
      axios
      .get("http://localhost:3000/products?q="+this.search)
      .then((res) => {
        this.setProduct(res.data);
      })
      .catch((err) => {
        console.log(err);
      });
    }
  },
  mounted() {
    axios
      .get("http://localhost:3000/products")
      .then((res) => {
        this.setProduct(res.data);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style></style>
