<template>
  <div>
    <Navbar />
    <div class="container">
      <div class="row mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/" class="text-dark">Home</router-link>
            </li>
            <li class="breadcrumb-item">
              <router-link to="/foods" class="text-dark">Foods</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Food Order
            </li>
          </ol>
        </nav>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <img
            class="shadow img-fluid"
            :src="require(`../assets/${product.gambar}`)"
            alt="food-image"
          />
        </div>
        <div class="col-md-6">
          <h2>
            <strong>{{ product.nama }}</strong>
          </h2>
          <hr />
          <h4>
            Harga : <strong>Rp {{ product.harga }}</strong>
          </h4>
          <form class="mt-5" v-on:submit.prevent>
            <div class="form-gorup">
              <label for="jumlah_pemesanan">Jumlah Pesan</label>
              <input
                type="number"
                class="form-control"
                v-model="order.jumlah_pemesanan"
              />
            </div>
            <div class="form-gorup mt-4">
              <label for="keterangan">Keterangan</label>
              <textarea
                type="text"
                class="form-control"
                v-model="order.keterangan"
              ></textarea>
            </div>
            <button
              type="submit"
              class="btn btn-success mt-3"
              @click="pemesanan"
            >
              <b-icon-cart></b-icon-cart> Pesan
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import axios from "axios";
export default {
  name: "FoodDetail",
  components: {
    Navbar,
  },
  data() {
    return {
      order: {},
      product: {},
    };
  },
  methods: {
    setProduct(data) {
      this.product = data;
    },
    pemesanan() {
      if (this.order.jumlah_pemesanan) {
        this.order.product = this.product;
        axios
          .post("http://localhost:3000/keranjangs", this.order)
          .then(() => {
            this.$toast.success("Pesanan Masuk Keranjang", {
              position: "top-right",
            });
          })
          .catch((err) => {
            console.log(err);
          });
        this.$router.push("/keranjang");
      } else {
        this.$toast.error("Jumlah Pemesanan tidak boleh kosong", {
          position: "top-right",
        });
      }
    },
  },
  mounted() {
    axios
      .get("http://localhost:3000/products/" + this.$route.params.id)
      .then((res) => {
        this.setProduct(res.data);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style></style>
