<template>
  <div>
    <Navbar :updateCart="keranjangItem" />
    <div class="container">
      <div class="row mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <router-link to="/" class="text-dark">Home</router-link>
            </li>
            <li class="breadcrumb-item">
              <router-link to="/foods" class="text-dark">Foods</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Keranjang
            </li>
          </ol>
        </nav>
      </div>

      <div class="row mt-2">
        <h2>Keranjang <strong>Saya</strong></h2>
      </div>

      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Foto</th>
              <th scope="col">Makanan</th>
              <th scope="col">Keterangan</th>
              <th scope="col">Jumlah</th>
              <th scope="col">Harga</th>
              <th scope="col">Total Harga</th>
              <th scope="col">Hapus</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in keranjangItem" v-bind:key="item.id">
              <th scope="row">{{ index + 1 }}</th>
              <td>
                <img
                  :src="require(`../assets/${item.product.gambar}`)"
                  class="img-fluid shadow"
                  width="200"
                  alt="..."
                />
              </td>
              <td>{{ item.product.nama }}</td>
              <td>{{ item.keterangan ? item.keterangan : "-" }}</td>
              <td>{{ item.jumlah_pemesanan }}</td>
              <td>Rp {{ item.product.harga }}</td>
              <td>
                Rp {{ parseInt(item.jumlah_pemesanan) * item.product.harga }}
              </td>
              <td align="center" class="text-danger">
                <b-icon-trash @click="deleteFood(item.id)"></b-icon-trash>
              </td>
            </tr>
            <tr>
              <td colspan="6" align="right">
                <strong>Total Harga :</strong>
              </td>
              <td>
                <strong>Rp {{ totalHarga }}</strong>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import axios from "axios";
export default {
  name: "Keranjang",
  components: {
    Navbar,
  },
  data() {
    return {
      keranjangItem: [],
    };
  },
  methods: {
    setKeranjangItem(data) {
      this.keranjangItem = data;
    },
    deleteFood(id) {
      axios
        .delete("http://localhost:3000/keranjangs/" + id)
        .then(() => {
          this.$toast.error("Item dari keranjang telah dihapus", {
            position: "top-right",
          });
          axios
            .get("http://localhost:3000/keranjangs")
            .then((res) => {
              this.setKeranjangItem(res.data);
            })
            .catch((err) => {
              console.log(err);
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  mounted() {
    axios
      .get("http://localhost:3000/keranjangs")
      .then((res) => {
        this.setKeranjangItem(res.data);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  computed: {
    totalHarga() {
      return this.keranjangItem.reduce((items, data) => {
        return items + parseInt(data.jumlah_pemesanan) * data.product.harga;
      }, 0);
    },
  },
};
</script>

<style></style>
