<template>
  <div class="hero">
    <div class=" d-none d-md-block">
      <div class="row mt-4">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h2><strong>Delicious Food Menu, </strong><br />in Your Gadget</h2>
          <p>Ayo segera pilih dan pesan makanan favorit Anda</p>
          <router-link to="/foods" class="btn btn-lg btn-success align-self-start">
            <b-icon-arrow-right></b-icon-arrow-right> Pesan
          </router-link>
        </div>
        <div class="col-md-6">
          <img src="../assets/ilustrasi.png" alt="hero image" width="100%" />
        </div>
      </div>
    </div>
    <div class="d-sm-block d-md-none">
      <div class="row mt-4">
        <div class="col-md-6 mb-3">
          <img src="../assets/ilustrasi.png" alt="hero image" width="100%" />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h2><strong>Delicious Food Menu, </strong><br />in Your Gadget</h2>
          <p>Ayo segera pilih dan pesan makanan favorit Anda</p>
          <button class="btn btn-lg btn-success align-self-start">
            <b-icon-arrow-right></b-icon-arrow-right> Pesan
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hero",
};
</script>

<style></style>
